%aside.main-sidebar.sidebar-dark-primary.elevation-4
  .sidebar
    %nav.mt-2
      %ul.nav.nav-pills.nav-sidebar.flex-column
        - c = params[:controller]

        %li.nav-header Sample
        %li.nav-item
          = link_to "/products", class: "nav-link #{(c == 'products' ? 'active' : nil) }" do
            %i.nav-icon.fa.fa-tag
            %p 商品管理
